*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(48, 48, 48);
    height: 40px;
    display: flex;
    align-items: center;
}

#navbar{
    display: flex;
    justify-content: space-evenly;
}

header a{
    display: flex;
    justify-content: center;
    width: 60px;
    height: 40px;
    align-items: center;
    text-decoration: none;
    color: white;
}

#home-button{
    background-color: orange;
}

#home-button:hover, #order-button:hover{
    background-color: black;
}

.first-section{
    background-image: url('../assets/bg_cover.jpg');
    height: 670px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.first-section p{
    width: 500px;
    text-shadow: 3px 3px 3px black, 
    3px 3px 3px black,
    3px 3px 3px black,
    3px 3px 3px black;
}

.title{
    display: flex;
    flex-direction: column;
    font-size: 50pt;
    color: orange;
}

.first-section:hover{
    background-image: url('../assets/rollover.jpg');
    transition: 0.3s;
}

.second-section{
    color: white;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#fortis{
    padding: 2% 0;
    font-size: 45pt;
}

.second-section img{
    width: 150px;
    height: 80px;
    object-fit: fill;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.card{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 5px;
    margin: 0 50px 20px 50px;
}

footer{
    padding: 10px 0;
    background-color: rgb(48, 48, 48);
    display: flex;
    justify-content: space-evenly;
    color: white;
}

#copyright{
    display: flex;
    align-items: flex-end;
    position: relative;
    left: 20%;
}

.socmed{
    position: relative;
    left: 40%;
    display: flex;
    align-items: center;
}

footer img{
    width: 50px;
}

.logo{
    padding: 0 20px;
}

.order-section{
    height: 40vw;
    background-color: slategray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-section h1{
    padding: 10px 0;
    font-size: 40pt;
}

form{
    background-color: rgb(189, 189, 189);
    padding: 20px;
    border: 1px solid black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gender-form{
    display: flex;
}

.gender-form label{
    padding: 0 10px;
}